@media(max-width:1200px){
    #home h1{
        font-size: 80px;
    }
    #author h3{
        font-size: 24px;
    }
}
@media (max-width:992px){
    .mail input{
        margin-bottom: 10px;
    }
    .boxes .card{
        margin-bottom: 20px;
    }
    .card.card-1 {
        margin-bottom: 80px;
    }
    .card.card-1.card-2 {
        margin-bottom: 0;
    }
    .icon {
        display: inline-block;
    }
}
@media (max-width:768px){
    .card.card-1.card-2.card-3 {
        margin-bottom: 80px;
    }
    .w-50 {
        width: 30%!important;
    }
}
@media (max-width:476px){
    #home h1 {
        font-size: 50px;
    }
    .contact .display-4{
        font-size: 3rem;
    }
    .display-4{
        font-size: 3rem;
    }
}